@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

html,
body {

  padding: 0;
  margin: 0;
  font-family: "Neucha", cursive !important;
}



* {
  box-sizing: border-box;
}

a{
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  color:black !important; 
  text-decoration:none !important; 
  cursor:pointer !important;  
}